body {
        font-family: 'Poppins', sans-serif;
}

#product-count {
        font-size: 25px;
}

nav a:hover {
        cursor: pointer;
}

/* Loader */

#loader img {
        height: 220px;
        width: 220px;
}

.single-color {
        border: 2px solid orange;
}

.product-color {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 2px;
}

.navbar ul li:hover {
        color: orangered;
        background: orangered;
        border-radius: 10px;
        transform: scale(1.15);
        transition: transform 2s;
}

.orange {
        color: orangered;
}

/* Cover */

.cover {
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
        0%, 100% {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide/1.png);
        }
        25% {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide/2.png);
        }
        50% {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide/3.png);
        }
        75% {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide/4.png);
        }
}

#items {
        background: orangered;
}

#items:hover {
        background-color: black;
        transform: scale(1.25);
        transition: transform 2s;
}

#items:active {
        box-shadow: 5px 5px 5px black
}

.title-word {
        color: lightgreen;
        font-size: 60px;
}

/* Add Cart Style Start*/

#cart-container {
        margin-top: 7%;
}

/* Add Cart Style End*/

/* Product Card Style */

.product-card {
        border: 1px solid #000;
        border-radius: 10px;
}

.product-card:hover {
        transform: scale(1.05);
        transition: transform 2s;
        box-shadow: 2px 2px 10px orangered;
        border: 1px solid orangered;
        border-radius: 10px;
}

#add-cart {
        background-color: orangered;
}

.product-image {
        height: 180px;
        text-align: center;
}

.product-image img {
        height: 180px;
        width: 180px;
}

.product-name {
        height: 50px;
}

.product-price {
        color: darkmagenta;
}

/* Footer Style Start */

#footer {
        margin-top: 280px;
}