.navigation ul li {
        background-color: orangered;
        border-radius: 5px;
        margin: 5px;
}

.navigation ul li:hover {
        background-color: darkmagenta;
        transform: scale(1.05);
        transition: transform 2s;
        font-weight: bold;
}

/* Product Card Style */

.product-card {
        border: 1px solid #000;
        border-radius: 10px;
}

.product-card:hover {
        transform: scale(1.05);
        transition: transform 3s;
        box-shadow: 2px 2px 10px orangered;
        border: 1px solid orangered;
        border-radius: 10px;
}

#add-cart {
        background-color: orangered;
}

.product-image {
        height: 180px;
        text-align: center;
}

.product-image img {
        height: 180px;
        width: 180px;
}

.product-name {
        height: 50px;
}

.product-price {
        color: darkmagenta;
}